@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

/* header */
#header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    position: relative;
    font-family: "Noto Sans KR", sans-serif;
}
#header h1 {
    margin-top: 7px;
    margin-left: 10px;
	transition: 0.3s;
    text-align: center;
}
#header h1:hover {
    transform: scaleY(1.2);
}
.site-title {
    font-size: 28px;
    font-weight: 600;
}
.site-subtitle {
    font-size: 12px;
    margin-left: 5px;
}
.menu-bar {
    z-index: 1000;
    position: absolute;
    width: 25px;
    height: 30px;
    cursor: pointer;
    right: 20px;
    top: 10px;
    padding: 10px;
    background: #fff;
    border: 1px solid #333;
    border-radius: 50%;
}
#header .hamburger-menu {
	position: fixed;
	top: 10px;
    right: 10px;
    cursor: pointer;
    border: 1px solid #333;
    background: #fff;
    border-radius: 3px;
    width: 30px;
    height: 29px;
    padding: 2px;
    margin-top: 10px;
    margin-right: 10px;
    transition: background-color 0.3s ease, transform 0.1s ease;
    z-index: 1100;
	cursor: pointer;
}
#header .hamburger-menu:hover {
    background: #999;
    color: #fff;
}
#header .hamburger-menu:active {
	background-color: #333;
    transform: scale(0.95);
}


/* side-menu */
.side-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #555;
    opacity: 0.9;
    transition: right 0.5s ease;
    z-index: 1000;
}
.side-menu.open {
    right: 0;
}

/* side-menu > menu-section */
.menu-section {
	margin-top: 30px;
}
.menu-section li {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease;
}
.menu-section li a {
	font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.menu-section li:first-child {
	margin-top: 70px;
}
.menu-section li:hover {
    background-color: #34495e;
}

/* side-menu > bottom-menu */
.bottom-menu {
	display: flex;
	margin-top: 30px;
}
.bottom-menu li {
    margin-left: 10px;
}
.bottom-menu li:nth-child(1) {
    margin-left: 25px;
}
.bottom-menu li a {
    color: #fff;
    transition: 0.3s;
    text-align: center;
    font-size: 12px;
}
.bottom-menu li a:hover {
    text-decoration: underline;
}


/* footer */
#footer { 
    background: #777;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
#footer h3 { 
	color: #fff; 
	font-size: 24px; 
    font-weight: 700; 
    margin-bottom: 20px; 
}
#footer .links { 
    display: flex; 
    justify-content: center;
    margin-bottom: 20px;
    padding: 0;
}

#footer .links li { 
    margin: 0 15px;
}

#footer .links li img { 
    width: 20px; 
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

#footer .links li a {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#footer .links li a:hover {
    color: #ddd;
}

#footer .always p { 
    font-weight: 300; 
    font-size: 13px; 
    font-style: italic; 
    letter-spacing: -0.3px;
    color: #fff;
}


/* scroll bar */
::-webkit-scrollbar {
    width: 13px;
}
::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}