/* main */
.main {
	width: 100%;
}
#container {
    height: 100vh;
}

/* select-wrap */
.select-wrap {
    text-align: center;
}
.select-wrap h2 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.main-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.main-detail {
    text-align: center;
    margin: 0 auto;
}
.main-detail a {
    color: #fff;
}
.main-detail a:hover {}