/* profile */
.profile {
    text-align: center;
}
.profile h2 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    padding-top: 10px;
}
.profile.intro .txtWrap {
    padding: 20px;
}
.profile.intro .txtWrap img {
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
}
.profile.intro .txtWrap p {
    line-height: 2.1;
}
.profile.addi p {
    line-height: 2.1;
}


/* ==================================================== */
/* project */
.projectBox h2 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.projectBox h2 em {
    font-size: 13px;
    font-weight: 500;
}
.projectDetailBox {
    border: 1px solid #333;
    margin-bottom: 30px;
    padding: 30px;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 10px;
}

/* education */
.education {
    margin-top: 50px;
}
.education .program {
    border: 3px solid #111;
    width: 700px;
    margin: 0 auto;
    padding: 30px;
}
.education h2 {
    font-size: 30px;
}
.education .program p {
    line-height: 2.3;
    margin-bottom: 30px;
}
.education .program p:last-child {
    margin-bottom: 0;
}

/* ==================================================== */
/* profile - lifeGraph */
.lifeGraph h4 {
    position: relative;
    font-size: 21px;
    color: #333;
    line-height: 1;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
}
.lifeGraph h4::before {
    content: "";
    position: absolute;
    left: -29px; 
    top: 50%;
    width: 20px; 
    height: 20px;
    border-radius: 100%;
    background: #ff5a2b;

    transform: translateY(-50%);
    border: 5px solid #1fa7f1;
    box-sizing: border-box;
}
.lifeGraph .shortView {
    position: relative;
    padding: 0 0 0 40px;
}
.lifeGraph .shortView::before {
    content: "";
    position: absolute;
    left: 20px; 
    top: 0;
    height: 100%;
    border-left: 2px solid #ddd;
}
.lifeGraph .shortView:first-child:before {
    top: 10px; 
    height: calc(100%-10px);
}
.lifeGraph dl { 
    padding: 15px 0 20px;
}
.lifeGraph dl dt {
    position: relative;
    font-size: 17px;
    color: #333;
    line-height: 1;
    margin-bottom: 8px;
    font-weight: 500;
}
.lifeGraph dl dt::before {
    content: "";
    position: absolute;
    left: -26px;
    top: 50%;
    width: 15px; 
    height: 15px;
    border-radius: 100%;
    background: #1fa7f1;

    transform: translateY(-50%);
    border: 4px solid #ff5a2b;
    box-sizing: border-box;
}
.lifeGraph dl dd {
    line-height: 2.1;
}
.lifeGraph dl dd strong {
    display: block;
    font-size: 15px;
    color: #333;
    line-height: 2.1;
    font-weight: 400;
}
.lifeGraph dl dd em {
    display: block;
    font-size: 12px;
    color: #333;
    line-height: 1.9;
    padding-left: 30px;
    font-weight: 600;
}

#footer p {
    color: #fff;
}

/* 모바일 반응형 */
@media (max-width: 776px) {
    /* header */
    #header h1 {
        font-size: 16px;
    }

    /* project */
    .projectDetailBox {
        padding: 20px;
        width: 300px;
        margin: 0 auto;
        margin-bottom: 40px;
        border-radius: 10px;
    }
    .projectDetailBox p {
        font-size: 11px;
        line-height: 1.9;
    }
    .education h2 {
        font-size: 23px;
    }
    .education .program {
        border: 3px solid #111;
        width: 300px;
        margin: 0 auto;
        padding: 30px;
    }
    .education .program p {
        font-size: 11px;
        line-height: 2.5;
    }
}