/* full page */
.section {
    width: 100%;
    height: 100%;
}
.section:nth-child(1) {
    background-color: #79edff;
}
.section:nth-child(2) {
    background-color: #e3bfac;
    text-align: center;
}
.section:nth-child(3) {
    background-color: #f8e58e;
    text-align: center;
}
.section:nth-child(4) {
    background-color: #111;
}
.section h2 {
    font-size: 35px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 90px;
    text-align: center;
}

/* full page - main Page */
.dashBoard { 
    text-align: center;
    margin-top: 330px;
}
.dashBoard .koreanIntro {
    /* width: 980px;  */
    margin: auto;
    color:#111; 
    font-weight: 500;
    font-size: 35px;
    text-align: center;
}
.dashBoard .koreanIntro .hello {
    color: #333; font-size: 48px; transition: 0.5s;
}
.dashBoard .koreanIntro .hello:hover {
    -webkit-text-stroke: 1px black;
    color: #fff;
}
.dashBoard .koreanIntro .highlight {
    color:#7474da; font-size: 48px; transition: 0.5s;
}
.dashBoard .koreanIntro .type1:hover {
    background-color: #ffcc00;
    color: white;
}
.dashBoard .koreanIntro .type2:hover {
    background-color: #04f524;
    color: white;
}
.dashBoard .koreanIntro .type3:hover {
    background-color: #00a2ff;
    color: white;
}
.dashBoard .koreanIntro .type4:hover {
    background-color: #ffcc00;
    color: white;
}
.dashBoard .englishIntro {
    width: 980px; 
    padding-top: 50px; 
    margin: auto; 
    font-size: 17px; 
    font-style: italic; 
    line-height: 1.8;
    text-align: center;
}
.scroll { 
    position: fixed; 
    top: 17%; 
    left: 53%;
    transform: translateX(-50%); 
    animation: ani 0.7s linear infinite alternate;
}
.scroll img { 
    width: 90px; 
    height: 60px; 
    margin-right: 50px;
}
@keyframes ani {
    0% { top: 17%; }
    100% { top: 18%; }
}

/* full page - About Me */
.section:nth-child(2) {
    display: flex;
}
.section:nth-child(2) .introduceBox {
    /* width: 80%; */
    margin: 0 auto;
}
.section:nth-child(2) .topBox, .section:nth-child(2) .bottomBox {
    display: flex;
    justify-content: center;
}
.section:nth-child(2) .introduceBox li i {
    margin-bottom: 30px;
}
.section:nth-child(2) .introduceBox li p {}
.detailBox {
    border: 1px solid #333;
    border-radius: 10px;
    width: 270px;
    height: 200px;
    margin: 20px;
    background-color: #fff;
    transition: 0.8s;
}
.detailBox:nth-child(1), .detailBox:nth-child(4) {
    margin-left: 0;
}
.detailBox:hover {
    scale: 1.2;
}
.detailBox p:nth-child(1) {
    padding-top: 30px;
}

.outsideWork {
    border: 1px solid #333;
    background-color: #999;
    border-radius: 5px;
    box-sizing: border-box;
    width: 80%;
    padding: 8px;
    margin: 0 auto;
}
.outsideWork p {
    color: #fff;
}

/* ==================================================== */
.section:nth-child(3) {
    display: flex;
}
.skillBox {
    border: 1px solid #333;
    border-radius: 10px;
    width: 900px;
    height: 500px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    background-color: #fff;
}
.skillBox p {
    line-height: 2.1;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
}
.skillBox p:last-child {
    margin-bottom: -30px;
}


/* ============================================================= */
.section:nth-child(4) {
    display: flex;
}
.section:nth-child(4) {
    color: #fff;
}
.linkBox {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.linkBox li {
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #fff;
    color: #333;
    padding: 30px;
    transition: 0.3s;
    width: 300px;
    text-align: center;
}
.linkBox li:hover {
    transform: translateY(20px);
}
.linkBox li h4 {
    font-size: 25px;
    font-weight: 600;
    text-align-last: left;
}
.linkBox li .linkName {
    color: #7474da;
    /* text-decoration: underline; */
    cursor: pointer;
    text-align: left;
}
.linkBox li .linkIntro {
    text-align: left;
    padding-top: 30px;
}

/* ==================================== */
@media (max-height: 864px) {
    .scroll {
        display: none;
    }
}