/* 1154px */
@media (max-width: 1154px) {
    /* 공통 */
    .section h2 {
        font-size: 25px;
        margin-bottom: 250px;
    }
    .section:nth-child(2) h2 {
        margin-bottom: 80px;
    }
    .section:nth-child(4) h2 {
        margin-bottom: 90px;
    }
    .section:nth-child(4) {
        text-align: center;
    }
    .linkBox {
        display: inline-block;
        vertical-align: middle;
        margin-top: 0;
    }
    .linkBox li:last-child {
        margin-left: 0;
    }
    .linkBox li {
        width: 230px;
        height: 110px;
        padding: 20px;
        margin-bottom: 15px;
    }
    .linkBox li h4 {
        font-size: 14px;
    }
    .linkName {
        font-size: 11px;
    }
    .linkIntro {
        font-size: 11px;
    }
    .signFlow p {
        font-size: 13px;
        text-align: left;
        margin-left: 30px;
        margin-top: 5px;
    }

    .goProject {
        margin-top: 200px;
    }
}

/* 모바일 반응형 */
@media (max-width: 776px) {
    /* 모바일 공통 */
    .section h2 {
        font-size: 25px;
        margin-bottom: 150px;
    }

    /* header */
    #header h1 {
        font-size: 20px;
    }
    .navBar {
        width: 250px;
    }
    .navBar .gnb li a {
        font-size: 16px;
    }
    .navBar .jboard li {
        font-size: 11px;
    }
    .navBar .jboard li:nth-child(1) {
        margin-left: 0;
    }

    /* section1 - intro */
    .dashBoard {
        width: 300px;
        margin: 0 auto;
        margin-top: 180px;
        overflow-x: hidden;
    }
    .dashBoard .koreanIntro {
        font-size: 19px;
    }
    .dashBoard .koreanIntro .hello {
        font-size: 24px;
    }
    .dashBoard .koreanIntro .highlight {
        font-size: 24px;
    }
    .dashBoard .englishIntro {
        font-size: 10px;
        text-align: left;
    }
    .scroll img { 
        width: 50px; 
        height: 30px; 
        margin-right: 50px;
    }
    @keyframes ani {
        0% { top: 18%; }
        100% { top: 17%; }
    }

    /* section2 - about me */
    .detailBox {
        width: 90px;
        height: 150px;
    }
    .detailBox .txtBox {
        font-size: 9px;
        margin-top: 40px;
    }
    .outsideWork {
        width: 85%;
        padding: 5px;
        margin: 0 auto;
        margin-top: 10px;
    }
    .outsideWork p {
        font-size: 9px;
    }

    /* section3 - about me */
    .skillBox {
        width: 300px;
        height: 360px;
        margin-top: 60px;
    }
    .skillBox p {
        font-size: 14px;
        margin-bottom: 0;
    }

    /* section4 - linkBox */
    .linkBox {
        display: inline-block;
        margin: 0 auto;
        /* margin-left: 20px; */
    }
    .linkBox li {
        height: 150px;
        width: 250px;
        height: 90px;
        padding: 20px;
        margin-bottom: 20px;
    }
    .linkBox li h4 {
        font-size: 12px;
    }
    .linkName {
        font-size: 10px;
    }
    .linkIntro {
        font-size: 10px;
    }
    .signFlow p {
        font-size: 10px;
        text-align: right;
        margin-top: 15px;
    }

    /* section5 - goProject */
    .goProject {
        border-radius: 10px;
        width: 200px;
    }
  }