/* 1154px */
@media (max-width: 1154px) {
    .section:nth-child(4) {
        text-align: center;
    }
    .linkBox {
        display: inline-block;
        vertical-align: middle;
        margin-top: 0;
    }
    .linkBox li:last-child {
        margin-left: 0;
    }
    .linkBox li {
        height: 150px;
        width: 250px;
        height: 130px;
        padding: 20px;
        margin-bottom: 15px;
    }
    .linkBox li h4 {
        font-size: 16px;
    }
    .linkName {
        font-size: 13px;
    }
    .linkIntro {
        font-size: 13px;
    }
    .signFlow p {
        font-size: 15px;
        text-align: left;
        margin-left: 30px;
        margin-top: 10px;
    }
}

/* 모바일 반응형 */
@media (max-width: 776px) {
    /* header */
    #header h1 {
        font-size: 20px;
    }
    .navBar {
        width: 250px;
    }
    .navBar .gnb li a {
        font-size: 16px;
    }
    .navBar .jboard li {
        font-size: 11px;
    }
    .navBar .jboard li:nth-child(1) {
        margin-left: 0;
    }

    /* section1 - intro */
    .dashBoard {
        width: 300px;
        margin: 0 auto;
        margin-top: 450px;
        overflow-x: hidden;
    }
    .dashBoard .koreanIntro {
        font-size: 20px;
    }
    .dashBoard .koreanIntro .hello {
        font-size: 25px;
    }
    .dashBoard .koreanIntro .highlight {
        font-size: 25px;
    }
    .dashBoard .englishIntro {
        font-size: 12px;
        text-align: left;
    }

    /* section2 - about me */
    .section:nth-child(2) h2 {
        font-size: 25px;
    }
    .detailBox {
        width: 130px;
    }
    .detailBox .txtBox {
        font-size: 11px;
    }

    /* section3 - about me */
    .skillBox {
        width: 420px;
        height: 320px;
    }
    .skillBox p {
        font-size: 14px;
        margin-bottom: 0;
    }

    /* section4 - linkBox */
    .linkBox {
        display: inline-block;
        margin: 0 auto;
        /* margin-left: 20px; */
    }
    .linkBox li {
        height: 150px;
        width: 250px;
        height: 125px;
        padding: 20px;
        margin-bottom: 20px;
    }
    .linkBox li h4 {
        font-size: 16px;
    }
    .linkName {
        font-size: 13px;
    }
    .linkIntro {
        font-size: 13px;
    }
    .signFlow p {
        font-size: 15px;
        text-align: left;
        margin-left: 30px;
        margin-top: 30px;
    }

    /* section5 - goProject */
    .goProject {
        margin-top: 600px;
        border-radius: 10px;
    }

    /* ========================================================= */
    /* project */
    .projectBox {}
    .projectDetailBox {
        padding: 20px;
        width: 200px;
        margin: 0 auto;
        margin-bottom: 40px;
        border-radius: 10px;
    }
    .projectDetailBox p {
        font-size: 11px;
    }
    .education h2 {
        font-size: 23px;
    }
    .education .program {
        border: 3px solid #111;
        width: 200px;
        margin: 0 auto;
        padding: 30px;
    }
    .education .program p {
        font-size: 11px;
    }
  }

  