/* subPage common */
.subVisual {
    background-color: #e5c1c5;
}
.subVisual .inner {
    height: 100px;
}
.subVisual h2 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    padding-top: 10px;
}
.main {
    margin-bottom: 100px;
}

/* ==================================================== */

/* profile */
.profile {
    text-align: center;
}
.profile h2 {
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.profile.intro {}
.profile.intro .txtWrap {}
.profile.intro .txtWrap img {
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
}
.profile.intro .txtWrap p {
    line-height: 2.1;
}
.profile.addi {}
.profile.addi p {
    line-height: 2.1;
}


/* ==================================================== */
/* project */
.projectBox {
    text-align: center;
}
.projectBox h2 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.projectBox h2 em {
    font-size: 13px;
    font-weight: 500;
}
.projectDetailBox {
    border: 1px solid #333;
    margin-bottom: 30px;
    padding: 30px;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 10px;
}

/* ==================================================== */
/* education */
.education {
    margin-top: 50px;
}
.education .program {
    border: 3px solid #111;
    width: 700px;
    margin: 0 auto;
    padding: 30px;
}
.education h2 {
    font-size: 30px;
}
.education .program p {
    line-height: 2.3;
    margin-bottom: 30px;
}
.education .program p:last-child {
    margin-bottom: 0;
}
